@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

body {
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    background-color: #fafafa;
    background-image: url("../assets/transp_book.png");
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    height: 100%;

}

h1,
h2,
h3 {
    font-family: "Playwrite GB S", cursive;
    color: #004369;
}

.page {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 30px;
    width: 70vw;
    min-width: 700px;
    height: 100%;
    min-height: 100vh;
    z-index: 1;
    padding-top: 20px;
    padding-bottom: 30px;
}

button {
    background-color: #DB1F48;
    font-family: "Lexend Deca", sans-serif;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: white;
    color: #DB1F48;
    transition: 0.3s;
    border: 1px solid #DB1F48;
}

button:active {
    box-shadow: 0 5px #004369;
    transform: translateY(4px);
}

#cover:hover {
    cursor: pointer;
}


.can {
    position: fixed;
    z-index: 4;
    width: 200px;
    height: 200px;
    top: 60px;
    left: 83%;

}

.can:active {
    display:block;
    background-image: url("../assets/wateringcan.gif");
    background-size: cover;
}



@media only screen and (max-width: 800px) {
    body {
        background-color: white;
        text-align: center;
    }

    .page {
        width: 100%;
    }

    .water {
        display:none;
    }
}