.Book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 60vw;
    min-width: 600px;
    gap: 30px;
    padding: 10px 20px;
    padding-bottom: 30px;
    background-color: #fafafa;
    border: 1px solid #004369;
    border-bottom: 5px solid #004369;
    border-right: 5px solid #004369;
    border-radius: 20px;
    position: absolute;
    z-index: 2;
    left: 18%;
    top: 10%;
    filter: drop-shadow(50px 50px 300px rgb(58, 58, 58));
}

.close {
    text-align: right;
    margin: 0 0;
}

.close button {
    border-radius: 50%;
    background-color: white;
    color: #DB1F48;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #004369;
}

.close button:hover {
    background-color: #DB1F48;
    color: white;
    border: 1px solid #DB1F48;
    transition: 0.2px;
}

.bookinfo {

    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 50px;
    border-radius: 10px;
    padding: 20px 50px;
    background-image: url("../assets/book_bg.png");
    background-size: cover;
    background-color: #dff2f2;
    border: 1px solid #004369;
    filter: drop-shadow(5px 5px 0px #004369);
}

.info {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.info h2 {
    font-weight: bold;
}

.divider {
    border: none;
    border-top: 1px dashed #004369;
    margin-top: 0;
    padding-bottom: 10px;
    width: 100%;
}

.button-container {
    display: flex;
    gap: 5px;
    margin-top: auto;
    margin-right: auto;

}

.reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 60vw;
    border-radius: 10px;
    border: 1px solid #004369;
    background-color: #fafafa;
    filter: drop-shadow(5px 5px 0px #004369);
}

.review {

    display: block;
    align-items: center;
    padding: 10px 15px;
    margin-bottom: 10px;
}

.reviewtitle {
    background-color: #dff2f2;
    background-image: url("../assets/tausta2.png");
    margin-top: 0;
    padding: 10px 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.author {
    font-weight: bold;
    margin-bottom: 10px;
}

.loan-info {
    margin-top: 10px;
}

.review-user {
    background-color: #dff2f2;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: #004369;
}

.rating {
    padding-top: 10px;
    padding-left: 5px;
}

.one-review {
    padding-left: 5px;
}

#cover:hover {
    transition: 0.3s ease-in-out;
}

.bookpage-cover {
    max-width: 200px;
    display: flex;
    perspective: 1500px;
    perspective-origin: left bottom;
    margin-bottom: 10px;
    margin-top: 10px;

    #cover {
        width: 100%;
        transition: 0.3s ease-in-out;
        position: relative;
        display: flex;
        overflow: hidden;

        transform-origin: 0 100%;

        border-radius: 10px;
        transform: 0.3s ease-in-out;

        &:hover {
            transform: rotateY(-20deg);
            transition: 0.3s ease-in-out;
            box-shadow:
                13.8px 0px 6.8px -4px rgba(0, 0, 0, 0.32),
                23.8px 0px 10.5px -8px rgba(0, 0, 0, 0.03),
                41.1px 0px 25.3px -8px rgba(0, 0, 0, 0.039),
                42px 0px 84px -8px rgba(0, 0, 0, 0.06);
        }
    }
}