.log-container {
  width: 60vw;
  min-width: 600px;
  background-color: #fafafa;
  background-image: url("../assets/book_bg.png");
  background-size: cover;
  margin: auto;
  border-radius: 10px;
  margin-top: 20px;
  border: 1px solid #004369;
  filter: drop-shadow(5px 5px 0px #004369);

}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  width: 400px;
 
  border-radius: 10px;
  min-width: 350px;
  max-width: 400px;
}

.dragon img {
  max-width: 300px;
}

.dragon img:hover {

  animation: rotate 2s linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.login-container h2 {
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 30px;
  
}

.loginform {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  gap: 5px;
}

.login-form-group label {
  margin-bottom: 5px;
  color: black;
}

.login-form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.no-account-yet {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.reg-link {
  font-weight: bold;
  color: #01949A;
}

.reg-link:hover {
  color: #DB1F48;
  cursor: pointer;
  transition: 0.2s;
}