.mini-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 60vw;
    min-width: 600px;
    gap: 30px;
    border: 1px solid #004369;
    border-radius: 10px;
    background-color: #fafafa;
    background-image: url("../assets/book_bg.png");
    background-size: cover;
    filter: drop-shadow(5px 5px 0px #004369);
}

.mini-user {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-bottom: 20px;
}

.mini-info p {
    font-size: 18px;
    margin: 0 0;
}

.mini-user img {
    max-width: 300px;
    padding-left: 30px;
    filter: drop-shadow(3px 3px 0px white);
}

.dragon-logo {
    margin: 0 0;
    border-bottom-left-radius: 10px;
    padding-left: 10px;
}

.mini-title {
    background-color: #dff2f2;
    background-image: url("../assets/tausta2.png");
    margin-top: 0;
    padding: 10px 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 18px;

}

.mini-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    padding-right: 20px;
}

