.mini-search {
    display: flex;
    flex-direction: row;
    width: 60vw;
    min-width: 600px;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/tausta2.png");
    background-size: auto;
    background-color: #004369;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    
    filter: drop-shadow(5px 5px 0px #004369);
}

.mini-search-input {
    background-color: #fff;
    font-size: 20px;
    padding: 4px 10px;
    border-radius: 10px;
    min-width: 20em;
    margin-right: 5px;
    border: 2px solid #ffffff;
}