.navbar {
  z-index: 5;
  position: sticky;
  top: 0;
  background-color: #004369;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 50px;
  gap:20px;
}

.left {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.right {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.navbar button {
  color: white;
  background-color: #004369;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.25em;
  height: 40px;
  width: auto;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  
}

.navbar button:hover {
  background-color: #01949A !important;
}

