.Profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 60vw;
    min-width: 600px;
    gap: 30px;
    padding: 0px 20px;
    padding-bottom: 30px;
}

.reading-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.profilebox {
        width: 60vw;
        min-width: 600px;
        background-color: #dff2f2;
        border-radius: 10px;
        margin-top: 20px;
        border: 1px solid #004369;
        filter: drop-shadow(5px 5px 0px #004369);
}

.profile-title, .user-review-title {
    background-image: url("../assets/tausta2.png");
    color: white;
    margin: 0;
    padding-bottom: 4px;
}

.profile-title h3,
.user-review-title h3 {
    color: white;
    margin: 0;
    padding-bottom: 4px;
    font-size: 18px;
}

.profile-title,
.current-title,
.loan-title,
.user-review-title {
    background-color: #dff2f2;
    margin-top: 0;
    padding: 10px 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #004369;
    font-weight: bold;
    font-size: 18px;

}

.user-reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 60vw;
    border-radius: 10px;
    border: 1px solid #004369;
    background-color: #fafafa;
    filter: drop-shadow(5px 5px 0px #004369);
}

.user {
    display: flex;
    flex-direction: row;
    gap: 30px;
    border-radius: 10px;
}

.user-review-book {
    background-color: #dff2f2;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: #004369;
}

.user-review-book:hover {
    color: #01949A;
    transition: 0.2s;
    cursor: pointer;
}

.icon {
    margin: 0 0;
    background-image: url("../assets/waves.png");
    background-size: cover;
    border-bottom-left-radius: 10px;
    padding-left: 10px;
}



.user img {
    max-width: 200px;
    padding: 10px 10px;
    padding-right: 30px;
    margin: auto;
}

.all-loans {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 60vw;
    min-width: 600px;
    border: 1px solid #004369;
    border-radius: 10px;
    background-color: #fafafa;
    filter: drop-shadow(5px 5px 0px #004369);
}

.loanbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px 20px;
}

.loans {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 120px;
    height: 270px;
    padding: 10px;
    text-align: center;
    background-color: #dff2f2;
    border: 2px solid #dff2f2;
    border-radius: 5px;
    transition: 0.3s;
}

.loans:hover {
    background-color: #fafafa;
    border: 2px solid #01949A;
    cursor: pointer;
    transition: 0.3s;
}

.currently-cover img {
    max-width: 150px;
    border-radius: 10px;
}

.currentbox {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 60vw;
    min-width: 600px;
    border: 1px solid #004369;
    border-radius: 10px;
    gap: 5px;
    background-color: #fafafa;
    filter: drop-shadow(5px 5px 0px #004369);
    
}

.current {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: normal;
    padding: 20px 20px;
}

.currently {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 150px;
    height: 430px;
    padding: 15px;
    text-align: center;
    background-color: #dff2f2;
    border: 2px solid #dff2f2;
    border-radius: 10px;
    transition: 0.3s;
}

.currently:hover {
    background-color: #fafafa;
    border: 2px solid #01949A;
    cursor: pointer;
    transition: 0.3s;
}

.profile-cover img {
    margin-top: 2px;
    max-width: 110px;
    border-radius: 10px;
}

.userratings {
    padding-top: 10px;
}

.profile-loans {
    padding-bottom: 10px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    font-size: 18px;
}

.profile-username h2{
    margin-top: 0px;
    margin-bottom: 10px;
}

.review-content-wrapper {
    display: flex;
    align-content: center;
}

.delete-review-button {
    height: 1.6em;
    padding: 2px 10px 2px 10px;
    margin-left: auto;
    margin-top: 16px;
    font-size: 18px;

    background-color: #01949A;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: "Lexend Deca", sans-serif;
}

.delete-review-button:hover {
    background-color: #dff2f2;
    color: #01949A;
    transition: 0.3s;
    border: none;
}

.due {
    margin-top: auto;
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #01949A;
    color: #fafafa;
    border-radius: 5px;
}

.currently.hover {
    max-width: 150px;
    margin: auto;
    margin-top: 10px;
}

.loans-hover {
    max-width: 110px;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
}

.due {
    max-width: 150px;
margin-left: auto;
}

.currently-cover #cover {
    width: 150px;
}