
.recommendationsbox {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 0px;
  width: 60vw;
  min-width: 600px;
  background-color: #fafafa;
  border-radius: 10px;
  border: 1px solid #004369;
  overflow: hidden;
  filter: drop-shadow(5px 5px 0px #004369);
}

.recommendations-container {
  width: 60vw;
  min-width: 600px;
  display: flex;
  flex-wrap: nowrap;
  overflow-wrap: break-word;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.recommendations-container:after {
  content:""; 
  position: absolute; 
  bottom: 0;
  left: 0;
  right: 0;
  height: 90%;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 10%, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 100%);
  pointer-events: none;
}

.recommendations-title {
  background-color: #dff2f2;
  margin-top: 0;
  padding: 10px 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #004369;
  font-weight: bold;
  font-size: 18px;
}

.recommendations-container-inner {
  padding-block: 1rem;
  display: flex;
  gap: 2rem;
}

.recommendations-container[data-animated=true] {
  overflow: hidden;
}

.recommendations-container[data-animated=true] .recommendations-container-inner {
  width: max-content;
  flex-wrap: nowrap;
  animation:
    scroll-animation var(--_animation-duration, 180s) linear infinite;

}

.recommendations-container-inner:hover {
  animation-play-state: paused !important;
}

.rec-book-item {
  padding-block: 1rem;
}

.recommendations-wrapper h1 {
  margin-bottom: 40px;
  color: #DB1F48;
}

.recommendation-item-title {
  inline-size: 150px;
  overflow-wrap: break-word;
  color: black;
  margin-top: 1rem;
}

.recommendation-item-title:hover {
  color: #01949A;
  transition: 0.2s;
  cursor: pointer;
}

body {
  background-color: hsl(240, 30, 10);
}

#cover:hover {
  transition: 0.3s ease-in-out;
}

.rec-cover {
  max-width: 150px;
  width: 200px;
  display: flex;
  perspective: 1500px;
  perspective-origin: left bottom;

  #cover {
    width: 100%;
    transition: 0.3s ease-in-out;
    position: relative;
    display: flex;
    overflow: hidden;

    transform-origin: 0 100%;

    border-radius: 10px;
    transform: 0.3s ease-in-out;

    &:hover {
      transform: rotateY(-20deg);
      transition: 0.3s ease-in-out;
      box-shadow:
        13.8px 0px 6.8px -4px rgba(0, 0, 0, 0.32),
        23.8px 0px 10.5px -8px rgba(0, 0, 0, 0.03),
        41.1px 0px 25.3px -8px rgba(0, 0, 0, 0.039),
        42px 0px 84px -8px rgba(0, 0, 0, 0.06);
    }
  }
}

@keyframes scroll-animation {
  /* from {
    transform: translate(0%)
  }  */

  to {
    transform: translate(calc(-50% - 0.5rem))
  }
}