.container {
  width: 60vw;
  min-width: 600px;
  background-color: #fafafa;
  background-image: url("../assets/login_bg.png");
  background-size: cover;
  margin: auto;
  border-radius: 10px;
  margin-top: 20px;
  border: 1px solid #004369;
  filter: drop-shadow(5px 5px 0px #004369);
  
}

.hatchbox {
  background-color: #01949A;
  background-image: url("../assets/tausta2.png");
  margin-top: 0;
  padding: 10px 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: white;
  font-size: 20px;
}

.regbox {
  width: 60vw;
  min-width: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.egg {
  padding: 20px 20px;
}

.egg img {
  max-width: 300px;
}
.egg img:hover {

  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.registration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  min-width: 350px;
  max-width: 400px;
}

.registration-container h2 {
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 30px;
}

.regform {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.register-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  gap: 5px;
}

.register-form-group label {
  margin-bottom: 5px;
  color: black;
}

.register-form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}