.critic-title {
    background-color: #dff2f2;
    margin-top: 0;
    padding: 10px 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #004369;
    font-weight: bold;
    font-size: 18px;
}

.send-review-container {
    width: 60vw;
    min-width: 600px;
    background-color: #fafafa;
    margin: auto;
    border-radius: 10px;
    border: 1px solid #004369;
    filter: drop-shadow(5px 5px 0px #004369);
}

.reviewbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    gap: 30px;
    margin: auto;

}

.quill {
    padding-left: 20px;
}

.quill img {
    max-width: 270px;
}

.review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    width: 30vw;
    background-image: url("../assets/tausta2.png");
    border-radius: 10px;
}

.review-form {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    color: white;
}


.form-group input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #004369;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.submit-button {
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    width: 200px;
    align-self: center;
}

.success-message {
    margin-top: 20px;
    color: green;
    font-size: 16px;
    background-color: white;
    padding: 10px 10px;
}

.error-message {
    margin-top: 20px;
    color: red;
    font-size: 16px;
    background-color: white;
    padding: 10px 10px;
}