.search-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-form {
    display: flex;
    flex-direction: column;
    width: 60vw;
    min-width: 600px;
    align-items: center;
    background-image: url("../assets/tausta2.png");
    background-size: auto;
    background-color: #004369;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    filter: drop-shadow(5px 5px 0px #004369);
}

.search-form-button-container {
    margin-top: 60px !important;
}

.search-form label {
    display: flex;
    justify-content: left;
    margin-top: 14px;
    width: 30em;
    color: white;
}

.input-isbn,
.input-title,
.input-author,
.input-genre,
.input-year {
    width: 28.6em;
    justify-items: end;
    margin-left: auto;
}

.search-results-container {
    font-size: 1em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 60vw;
    min-width: 600px;
    border: 1px solid #004369;
    border-top: none;
    padding: 20px 0 20px 0;
    background-color: white;
    filter: drop-shadow(5px 5px 0px #004369);
}

.search-single-book {
    display: flex;
    flex-direction: column;
    width: 150px;
    justify-content: space-between;
    border-radius: 5px;
    padding: 10px 5px;
    background-color: #dff2f2;
    border: 2px solid #dff2f2;
    transition: 0.3s;
}

.search-single-book:hover {
    background-color: #fafafa;
    border: 2px solid #01949A;
    cursor: pointer;
    transition: 0.3s;
}

.search-single-book p {

    margin: 6px 15px 6px 15px;
    font-size: 0.9em;
}

.book-items-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: auto;
    min-width: 600px;
    padding: 0px 10px;
}

.bookcover {
    align-self: center;
}

.bookcover img {
    max-width: 120px;
    border-radius: 5px;
}

.pagination-controls,
.search-form-button-container {
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 5px;
    margin: 20px 0 10px 0;
}

.pagination-controls button {
    background-color: #01949A;
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: "Lexend Deca", sans-serif;
}

.pagination-controls button:disabled {
    background-color: #dff2f2;
    color: #01949A;
}

.active {
    font-weight: bold;
    text-decoration: underline;
}

.pagination-controls button:hover {
    background-color: #dff2f2;
    color: #01949A;
    transition: 0.3s;
}

.year-slider-label {
    position: absolute;
    top: 25px;
    color: #004396;
    font-weight: bold;
    padding: 1px 5px;
    border-radius: 3px;
    background-color: #fff;
}

.year-range-slider {
    width: 23em;
    justify-items: end;
    margin-left: 32px;
    margin-top: 10px;
}

.slider-ball {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genre-checkbox-container {
    display: flex;
    flex-wrap: wrap;
    width: 24.2em;
    justify-items: end;
    margin-left: auto;
    margin-bottom: 10px;

}

.genre-checkbox-container label {
    width: 110px;
    margin-left: 1px;
    margin-top: 5px !important;
}

.genre-checkbox-container input {
    width: 18px;
    height: 18px;
}

.genre-checkbox-container p {
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 3px;
}

.search-info-sort-container {
    display: flex;
    gap: 40px;
    margin-top: 20px;
    padding: 10px 0;
    width: 60vw;
    min-width: 600px;
    background-color: #dff2f2;
    border: 1px solid #004369;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    filter: drop-shadow(5px 5px 0px #004369);
}

.search-info-sort-container h3 {
    margin: 0px;
    padding-left: 20px;
    padding-top: 5px;
    font-family: "Lexend Deca", sans-serif;
    color: #004369;
    font-size: 18px;
}

.search-info-sort-container select {
    margin-left: 10px;
}

.sort-selection-container {
    display: flex;
    gap: 20px;
    padding-top: 7px;
    margin-bottom: 10px;
}

.search-form h1 {
    color: white;
    margin: 10px 0 10px 0;
}

input[type='submit'],
input[type='reset'] {
    background-color: #DB1F48;
    font-family: "Lexend Deca", sans-serif;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;

}

input[type='submit']:hover,
input[type='reset']:hover {
    background-color: white;
    color: #DB1F48;
    transition: 0.3s;
    border: 1px solid #DB1F48;

}

input[type='submit']:active,
input[type='reset']:active {
    box-shadow: 0 5px #004396;
    transform: translateY(4px);

}

@media only screen and (max-width: 800px) {
    .search-form {
        width: 100%;
        flex-wrap: wrap;
        padding: 5%;
    }

    .search-form label {
        width: 80%;
        gap: 5px;
        justify-content: center;
        font-size: 1.2em;

    }

    .input-isbn,
    .input-title,
    .input-author,
    .input-genre,
    .input-year {
        width: 80%;
        margin: auto;
    }
}

.hover:hover {
    color: #01949A;
    transition: 0.2s;
    cursor: pointer;
}